@font-face {
  font-family: pangolin;
  src: url("./fonts/Pangolin-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./images/mugs.png"),
    linear-gradient(
      to right,
      rgb(226, 81, 81),
      rgb(243, 189, 88),
      rgb(245, 245, 100),
      rgb(90, 241, 148),
      rgb(159, 90, 238)
    );
  background-repeat: repeat;
  font-family: pangolin;
}

.page-container {
  display: flex;
  justify-content: center;
}

.page {
  width: 900px;
}

.header {
  background-color: cornsilk;
  margin: 10px 0;
  padding: 10px;
  box-shadow: rgb(30 30 31 / 50%) 0px 5px 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.title {
  font-size: 4em;
  font-weight: bold;
  color: #228c8f;
}

.synopsis {
  font-style: italic;
  margin-bottom: 10px;
  color: rgb(87, 92, 92);
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -5px;
}

.link {
  text-decoration: none;
  color: rgb(227, 230, 199);
  width: 293px;
  margin: 10px 5px 0 5px;
  height: 200px;
  background-color: #b2d6ff;
  box-shadow: rgb(30 30 31 / 50%) 0px 5px 10px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
}

.link:hover {
  filter: brightness(85%);
}

.link:active {
  filter: brightness(115%);
}

.link-screenshot {
  width: 60px;
  height: 60px;
  background-color: #d6e9fe;
  border-radius: 10px;
  margin-right: 20px;
}

.link-description {
  font-size: 0.9em;
  margin-top: 10px;
}

@keyframes rotate-clown {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#clown {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

#clown:hover {
  filter: brightness(85%);
}

#clown:active {
  filter: brightness(125%);
}

@media only screen and (max-width: 400px) {
  .header {
    flex-direction: column;
  }

  .title {
    font-size: 3.2em;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
}

@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }

  .header {
    height: 400px;
  }
}
