* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #86D6D9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: #228C8F;
    margin: 10px 1.15%;
}

.synopsis {
    font-style: italic;
    margin: 10px 1.15%;
}

.links {
    overflow: hidden;    
}

.link {
    text-decoration: none;
    color: #fff;
    float: left;
    width: 31%;
    margin: 10px 1.15%;
    height: 160px;
    background-color: #B2D6FF;
}

.link:hover {
    filter: brightness(85%);
}

.link:active {
    filter: brightness(115%)
}

.link-screenshot {
    float: left;
    width: 60px;
    height: 60px;
    margin: 25px;
    background-color: #D6E9FE;
}

.link-title {
    margin-top: 30px;
}

.link-description {
    font-size: .9em;
    margin: 10px;
    overflow: hidden;
}