* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  background-image: url("./images/mugs.png");
  background-repeat: repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.page {
  width: 900px;
}

.header {
  background-color: cornsilk;
  margin: 10px 0;
  padding: 10px;
  border: #fff solid 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: #228C8F;
}

.synopsis {
  font-style: italic;
  margin-bottom: 10px;
  color: rgb(87, 92, 92);
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -5px;
}

.link {
  text-decoration: none;
  color: #fff;
  width: 293px;
  margin: 10px 5px 0 5px;
  height: 200px;
  background-color: #B2D6FF;
  border: rgb(26, 28, 34) solid 5px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
}

.link:hover {
  filter: brightness(85%);
}

.link:active {
  filter: brightness(115%)
}

.link-screenshot {
  width: 60px;
  height: 60px;
  background-color: #D6E9FE;
  border-radius: 10px;
  margin-right: 20px;
}

.link-description {
  font-size: .9em;
  margin-top: 10px;
}