* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-image: url("./images/mugs.png");
    background-repeat: repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    background-color: cornsilk;
    margin: 10px 1.15%;
    padding: 10px;
    border: #fff solid 10px;
    border-radius: 15px;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: #228C8F;
}

.synopsis {
    font-style: italic;
    margin-top: 10px;
    color: rgb(87, 92, 92);
}

.links {
    overflow: hidden;    
}

.link {
    text-decoration: none;
    color: #fff;
    float: left;
    width: 31%;
    margin: 10px 1.15%;
    height: 200px;
    background-color: #B2D6FF;
    border: rgb(26, 28, 34) solid 8px;
    border-radius: 15px;
    padding: 20px;
}

.link:hover {
    filter: brightness(85%);
}

.link:active {
    filter: brightness(115%)
}

.link-screenshot {
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 20px 20px 0;
    background-color: #D6E9FE;
    border-radius: 10px;
}

.link-description {
    font-size: .9em;
    margin: 10px;
    overflow: hidden;
}