body {
  color: #9fc266;
  background-color: rgb(0, 48, 28);
}

h1 {
  font-size: 4em;
}

h1,
h2,
h3 {
  font-family: "Courier New";
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: upper-roman;
}

a {
  text-decoration: none;
  color: gold;
}

a:visited {
  color: rgb(136, 110, 24);
}
